* {
    margin: 0;
    font-family: system-ui;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to right, rgb(115, 151, 193), rgb(205, 165, 250))
}
header {
    justify-content: baseline;
    display: flex;
    margin: 22px ;
    color: rgb(0, 0, 0);
}
h1{
    flex: 75%;
    text-align: center;
    
}
button{
background-image: linear-gradient(to right, rgb(115, 151, 193), rgb(205, 165, 250));
box-shadow: 2px 3px rgb(0, 0, 0);
border-radius: 125px;
font-size:12px;
padding: 0px 12px;
}

img {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 25%;
   max-width: 25%;
    padding: 0 4px;
}

.column img {
    box-shadow: 2px 3px rgb(0, 0, 0);
    margin-top: 8px;
    vertical-align: middle;
    border-radius: 10px;
}
img:hover{
    width: 97%;
   opacity: 0.8;
}
button:hover{
   width: 99px;
   height: 40px;
   background-image: linear-gradient(to right, rgb(12, 96, 192), rgb(131, 115, 149));
}
footer{
    padding: 22px;
    margin-top: 12px;
    background-color: darkgrey;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}